# Wordpress Api
WORDPRESS_API_URL=https://app.spf.com.uy/

# Site URL
NEXT_PUBLIC_SITE_URL=https://www.spf.com.uy

# Tag Manager
NEXT_PUBLIC_GTM_ID=GTM_ID_HERE

# Youtube Api
YOUTUBE_API_KEY=YouTubeApiKeyHere
YOUTUBE_PLAYLIST_ID=YoutubePlaylistIdHere

# Desabilitar verificação TSL em dev
NODE_TLS_REJECT_UNAUTHORIZED=0

# Email SMPT
SMTP_HOST=SMTPHostHere
SMTP_PORT=587
SMPT_SECURE=false

SMTP_USER=SMTPUserHere
SMTP_PASS=SMTPPassHere

CONTACT_RECEIVER=contacto@spf.com.uy
